#main{
    font-family: 'Acme', sans-serif;
    padding-bottom: 5px;
    padding-top: 5px;
    color: aliceblue;
    background: linear-gradient(
	    to bottom,
	    rgba(133, 25, 25, 0.7),
	    rgba(133,25,25, 0.8)
	  ),url("../assets/background.jpg");
}

#main .container{
    margin: 0 auto;
    width: 80%;
}

.center{
    text-align: center;
}

.row{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#main h2{
    font-weight: 300;
    font-size: 25px;
    line-height: 110%;
    margin: 1.0933333333rem 0 .656rem 0;
}

#main h1{
    font-size: 70px;
    margin: 2.8rem 0 1.68rem 0;
}

#main button{
    border-radius: 20px;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color:aliceblue;
    background-color: #bd212193;
    border-bottom-style: groove;
    transition: .5s;
    padding: 10px;
    cursor: pointer;
}

#main button:hover{
    background-color: #cc2020dc;
}